@charset "utf-8";
@font-face{
	font-family:STXinwei;
	src:url(../%E5%AD%97%E4%BD%93/webfontkit-20160406-050523/stxinwei-webfont.woff);
}
body{
	background-color:#b7deed;
	font-family:"华文新魏";
}
.bigmain{
	margin-left:170px;
	margin-top:50px;
	padding:10px;
	font-size:35px;
	width:1002px;
	height:auto;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-color:#8ec7dc;
}
.main{
	margin-top:10px;
	padding-top:30px;
	padding-left:30px;
	padding-bottom:30px;
	width:977px;
	height:auto;
	background-color:#FFF;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
/*搜索文字框*/
.textsousuo{
	margin:0;
	border:1px solid #7fbbdd;
	width:200px;
	height:20px;
	font-size:10px;
	background-image:url(../image/student/sousuo1.jpg);
	background-repeat:no-repeat;
	background-position:left;
	text-indent:20px;
}
/*搜索按钮*/
.btnsousuo{
	margin-bottom:30px;
	padding:0;
	width:50px;
	height:20px;
	font-size:9px;
	background-color:#7fbbdd;
	color:#000;
	font-family:"华文新魏";
}
.btnsousuo:hover{
	-moz-opacity:0.68 !important;
    filter:alpha(opacity=68); 
	opacity: 0.68; 
    _-moz-opacity:0.68;
	color:#666;
}
.btn{
	width:400px;
	margin-right:50px;
	padding-right:50px;
	float:right;
}
.shanchu{
	margin-right:15px;
	padding-left=1px;
	width:25px;
	height:26px;
	border:none;
	float:right;
}
.shanchu:hover{
	padding-left:0px;
	-moz-opacity:0.68 !important;
    filter:alpha(opacity=68); 
	opacity: 0.68; 
    _-moz-opacity:0.68;
	color:#666;
}
.list{
	margin:0;
	padding-top:10px;
	padding-left:10px;
	background-color:#FFF;
	height:22px;
	width:950px;
	font-size:14px;
}
.listtitle{
	margin:0;
	padding-top:10px;
	padding-left:10px;
	background-color:#FFF;
	height:22px;
	width:950px;
	font-size:16px;
	color:#7fbbdd;
	border-bottom:1px solid #7fbbdd;
}
.list a{
	padding:0;
	margin:0;
	text-decoration: none;
	color:#000;
	font-size:14px;
}
.list:hover{
	padding-left:11px;
	background:#b7daed;
	color:#666;
}
.list a:hover{
	color:#666;
}
.teachnum{
	margin:0;
	padding:0;
	width:80px;
	overflow:hidden;
	float:left;
	text-align:center;
}
.teachname,teachaction{
	margin:0;
	padding:0;
	width:80px;
	overflow:hidden;
	float:left;
	text-align:center;
}
.teachsex{
	margin:0;
	padding:0;
	width:40px;
	overflow:hidden;
	float:left;
	text-align:center;
}
.teachschool,.teachemail{
	margin:0;
	padding:0;
	width:200px;
	overflow:hidden;
	float:left;
	text-align:center;
}
.teachaddr{
	margin:0;
	padding:0;
	width:150px;
	overflow:hidden;
	float:left;
	text-align:center;
	}
.teachtel{
	margin:0;
	padding:0;
	width:130px;
	overflow:hidden;
	float:left;
	text-align:center;
}
.fuxuankuang{
	float:left;
}
.btnaction{
	margin-bottom:10px;
	padding-left:1px;
	width:23px;
	height:16px;
}
.btnaction:hover{
	-moz-opacity:0.68 !important;
    filter:alpha(opacity=68); 
	opacity: 0.68; 
    _-moz-opacity:0.68;
}
.mess{
	margin-top:50px;
	margin-bottom:50px;
	width:950px;
	height:auto;
}
.messlist{
	margin-top:20px
	padding-top:10px;
	padding-left:10px;
	background-color:#FFF;
	height:35px;
	width:950px;
	font-size:18px;
}
.messname{
	margin:0;
	padding:0;
	width:200px;
	height:30px;
	text-align:right;
	display:inline-block;
}
.message{
	margin-left:5px;;
	padding:0;
	width:250px;
	height:30px;
	text-align:left;
	display:inline-block;
}
.btnchange{
	margin-left:850px;
	padding-left:1px;
	width:101px;
	height:30px;
}
.btnchange:hover{
	-moz-opacity:0.68 !important;
    filter:alpha(opacity=68); 
	opacity: 0.68; 
    _-moz-opacity:0.68;
}
.text{
	border:1px solid #7fbbdd;
	width:150px;
	height:20px;
	font-size:10px;
	}
.middle{
	margin:0;
	text-align:center;
}
.btnOK{
	padding:5px 15px 5px 15px;
	border:1px solid #7fbbdd;
	background:#7fbbdd;
	font-size:16px;
	height:30px;
	color:#000;
	font-family:"华文新魏";
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.btnOK:hover{
	color:#666;
	-moz-opacity:0.68 !important;
    filter:alpha(opacity=68); 
	opacity: 0.68; 
    _-moz-opacity:0.68;
}
/*文件域格式*/
input{border:none;border:1px solid #CCC;vertical-align:middle; }
.input {height:24px; line-height:24px; border-right:none; width:200px;}
.liulan {
	width:100px;height:26px;
	background-color:#7fbbdd;
    cursor:pointer;
}
.liulan:hover{
	-moz-opacity:0.68 !important; 
	filter:alpha(opacity=68); 
	opacity: 0.68; 
	 _-moz-opacity:0.68;
}
.files{	position:absolute; left:202px; top:52px; heigth:26px;cursor:pointer;
		 filter: Alpha(opacity=0);    
 			 -moz-opacity:0;    
 			 opacity:0;  
		} 
#duiqi{
	margin-bottom:50px;
	margin-top:50px;
	text-align:center;
}

