<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>courseManagerbak</display-name>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>filter.CharsetEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filter.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/Student/*</url-pattern>
    <url-pattern>/Teacher/*</url-pattern>
    <url-pattern>/Manager/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherLogin</servlet-name>
    <servlet-class>servlet.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLogin</servlet-name>
    <url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>servlet.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentDetail</servlet-name>
    <servlet-class>servlet.student.studentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetail</servlet-name>
    <url-pattern>/Student/StudentDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentUpdate</servlet-name>
    <servlet-class>servlet.student.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdate</servlet-name>
    <url-pattern>/Student/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AbleCourse</servlet-name>
    <servlet-class>servlet.teacher.AbleCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbleCourse</servlet-name>
    <url-pattern>/Teacher/AbleCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseWelcome</servlet-name>
    <servlet-class>servlet.teacher.CourseWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseWelcome</servlet-name>
    <url-pattern>/Teacher/CourseWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherWelcome</servlet-name>
    <servlet-class>servlet.teacher.TeacherWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherWelcome</servlet-name>
    <url-pattern>/Teacher/TeacherWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherWelcome1</servlet-name>
    <servlet-class>servlet.teacher.TeacherWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherWelcome1</servlet-name>
    <url-pattern>/Teacher/TeacherWelcome1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseStudentList</servlet-name>
    <servlet-class>servlet.teacher.CourseStudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseStudentList</servlet-name>
    <url-pattern>/Teacher/CourseStudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageAdd</servlet-name>
    <servlet-class>servlet.teacher.MessageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageAdd</servlet-name>
    <url-pattern>/Teacher/MessageAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageList</servlet-name>
    <servlet-class>servlet.teacher.MessageListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageList</servlet-name>
    <url-pattern>/Teacher/MessageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageDeleteChecked</servlet-name>
    <servlet-class>servlet.teacher.MessageDeleteCheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDeleteChecked</servlet-name>
    <url-pattern>/Teacher/MessageDeleteChecked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageDetail</servlet-name>
    <servlet-class>servlet.teacher.MessageDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDetail</servlet-name>
    <url-pattern>/Teacher/MessageDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageUpdate</servlet-name>
    <servlet-class>servlet.teacher.MessageUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageUpdate</servlet-name>
    <url-pattern>/Teacher/MessageUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentAdd</servlet-name>
    <servlet-class>servlet.teacher.AssignmentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentAdd</servlet-name>
    <url-pattern>/Teacher/AssignmentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentList</servlet-name>
    <servlet-class>servlet.teacher.AssignmentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentList</servlet-name>
    <url-pattern>/Teacher/AssignmentList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssignmentAdd</servlet-name>
    <url-pattern>/Teacher/AssignmentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentDelete</servlet-name>
    <servlet-class>servlet.teacher.AssignmentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentDelete</servlet-name>
    <url-pattern>/Teacher/AssignmentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentImport</servlet-name>
    <servlet-class>servlet.teacher.StudentImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentImport</servlet-name>
    <url-pattern>/Teacher/StudentImport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentList</servlet-name>
    <servlet-class>servlet.teacher.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/Teacher/StudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAdd</servlet-name>
    <servlet-class>servlet.teacher.StudentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAdd</servlet-name>
    <url-pattern>/Teacher/StudentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentDelete</servlet-name>
    <servlet-class>servlet.teacher.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelete</servlet-name>
    <url-pattern>/Teacher/StudentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherStudentDetail</servlet-name>
    <servlet-class>servlet.teacher.studentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherStudentDetail</servlet-name>
    <url-pattern>/Teacher/StudentDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherStudentUpdate</servlet-name>
    <servlet-class>servlet.teacher.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherStudentUpdate</servlet-name>
    <url-pattern>/Teacher/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherCourseList</servlet-name>
    <servlet-class>servlet.teacher.TeacherCourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherCourseList</servlet-name>
    <url-pattern>/Teacher/TeacherCourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherCourseAdd</servlet-name>
    <servlet-class>servlet.teacher.TeacherCourseAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherCourseAdd</servlet-name>
    <url-pattern>/Teacher/TeacherCourseAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseAdd</servlet-name>
    <servlet-class>servlet.teacher.CourseAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAdd</servlet-name>
    <url-pattern>/Teacher/CourseAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseList</servlet-name>
    <servlet-class>servlet.teacher.CourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseList</servlet-name>
    <url-pattern>/Teacher/CourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseDelete</servlet-name>
    <servlet-class>servlet.teacher.CourseDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDelete</servlet-name>
    <url-pattern>/Teacher/CourseDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseDetail</servlet-name>
    <servlet-class>servlet.teacher.CourseDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetail</servlet-name>
    <url-pattern>/Teacher/CourseDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseUpdate</servlet-name>
    <servlet-class>servlet.teacher.CourseUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseUpdate</servlet-name>
    <url-pattern>/Teacher/CourseUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherList</servlet-name>
    <servlet-class>servlet.manager.TeacherListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherList</servlet-name>
    <url-pattern>/Manager/TeacherList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherAdd</servlet-name>
    <servlet-class>servlet.manager.TeacherAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAdd</servlet-name>
    <url-pattern>/Manager/TeacherAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherDelete</servlet-name>
    <servlet-class>servlet.manager.TeacherDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDelete</servlet-name>
    <url-pattern>/Manager/TeacherDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerTeacherDetail</servlet-name>
    <servlet-class>servlet.manager.TeacherDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerTeacherDetail</servlet-name>
    <url-pattern>/Manager/TeacherDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerTeacherUpdate</servlet-name>
    <servlet-class>servlet.manager.TeacherUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerTeacherUpdate</servlet-name>
    <url-pattern>/Manager/TeacherUpdate</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/msexcel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>zip</extension>
    <mime-type>application/zip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>rar</extension>
    <mime-type>application/rar</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>application/txt</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>chm</extension>
    <mime-type>application/mshelp</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>mp3</extension>
    <mime-type>audio/x-mpeg</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>