<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>courseManagerbak</display-name>
  
  <!-- filter start -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>filter.CharsetEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>filter.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/Student/*</url-pattern>
    <url-pattern>/Teacher/*</url-pattern>
    <url-pattern>/Manager/*</url-pattern>
  </filter-mapping>
  <!-- filter end -->
  
  <!-- common start -->
  <servlet>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherLogin</servlet-name>
    <servlet-class>servlet.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLogin</servlet-name>
    <url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>servlet.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  
  <!-- common end -->
  
  
  <!-- student start -->
 
 
  <servlet>
    <servlet-name>StudentInformationUpdate</servlet-name>
    <servlet-class>servlet.student.StudentInformationUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInformationUpdate</servlet-name>
    <url-pattern>/Student/StudentInformationUpdate</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>StudentPasswordUpdate</servlet-name>
    <servlet-class>servlet.student.StudentPasswordUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPasswordUpdate</servlet-name>
    <url-pattern>/Student/StudentPasswordUpdate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>StudentWelcome</servlet-name>
    <servlet-class>servlet.student.StudentWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentWelcome</servlet-name>
    <url-pattern>/Student/StudentWelcome</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>StudentInformationList</servlet-name>
    <servlet-class>servlet.student.StudentInformationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInformationList</servlet-name>
    <url-pattern>/Student/StudentInformationList</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>StudentCourseWelcome</servlet-name>
    <servlet-class>servlet.student.StudentCourseWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCourseWelcome</servlet-name>
    <url-pattern>/Student/StudentCourseWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAssignmentAdd</servlet-name>
    <servlet-class>servlet.student.StudentAssignmentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAssignmentAdd</servlet-name>
    <url-pattern>/Student/StudentAssignmentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAssignmentAllList</servlet-name>
    <servlet-class>servlet.student.StudentAssignmentAllListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAssignmentAllList</servlet-name>
    <url-pattern>/Student/StudentAssignmentAllList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAssignmentUncommittedList</servlet-name>
    <servlet-class>servlet.student.StudentAssignmentUncommittedListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAssignmentUncommittedList</servlet-name>
    <url-pattern>/Student/StudentAssignmentUncommittedList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAssignmentCommittedList</servlet-name>
    <servlet-class>servlet.student.StudentAssignmentCommittedListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAssignmentCommittedList</servlet-name>
    <url-pattern>/Student/StudentAssignmentCommittedList</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>StudentAssignmentDetail</servlet-name>
    <servlet-class>servlet.student.StudentAssignmentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAssignmentDetail</servlet-name>
    <url-pattern>/Student/StudentAssignmentDetail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>StudentAssignmentAnswerDetail</servlet-name>
    <servlet-class>servlet.student.StudentAssignmentAnswerDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAssignmentAnswerDetail</servlet-name>
    <url-pattern>/Student/StudentAssignmentAnswerDetail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>StudentMessageList</servlet-name>
    <servlet-class>servlet.student.StudentMessageListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMessageList</servlet-name>
    <url-pattern>/Student/StudentMessageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentMessageDetail</servlet-name>
    <servlet-class>servlet.student.StudentMessageDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMessageDetail</servlet-name>
    <url-pattern>/Student/StudentMessageDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentDocumentList</servlet-name>
    <servlet-class>servlet.student.StudentDocumentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDocumentList</servlet-name>
    <url-pattern>/Student/StudentDocumentList</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>StudentInformationDetail</servlet-name>
    <servlet-class>servlet.student.StudentInformationDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInformationDetail</servlet-name>
    <url-pattern>/Student/StudentInformationDetail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>StudentVideoList</servlet-name>
    <servlet-class>servlet.student.StudentVideoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentVideoList</servlet-name>
    <url-pattern>/Student/StudentVideoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentVideoDetail</servlet-name>
    <servlet-class>servlet.student.StudentVideoDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentVideoDetail</servlet-name>
    <url-pattern>/Student/StudentVideoDetail</url-pattern>
  </servlet-mapping>
  
  <!-- student end -->
  
  <!-- teacher start -->
  <servlet>
    <servlet-name>AbleCourse</servlet-name>
    <servlet-class>servlet.teacher.AbleCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbleCourse</servlet-name>
    <url-pattern>/Teacher/AbleCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseWelcome</servlet-name>
    <servlet-class>servlet.teacher.CourseWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseWelcome</servlet-name>
    <url-pattern>/Teacher/CourseWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherWelcome</servlet-name>
    <servlet-class>servlet.teacher.TeacherWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherWelcome</servlet-name>
    <url-pattern>/Teacher/TeacherWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherWelcome1</servlet-name>
    <servlet-class>servlet.teacher.TeacherWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherWelcome1</servlet-name>
    <url-pattern>/Teacher/TeacherWelcome1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseStudentList</servlet-name>
    <servlet-class>servlet.teacher.CourseStudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseStudentList</servlet-name>
    <url-pattern>/Teacher/CourseStudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageAdd</servlet-name>
    <servlet-class>servlet.teacher.MessageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageAdd</servlet-name>
    <url-pattern>/Teacher/MessageAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageList</servlet-name>
    <servlet-class>servlet.teacher.MessageListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageList</servlet-name>
    <url-pattern>/Teacher/MessageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageDeleteChecked</servlet-name>
    <servlet-class>servlet.teacher.MessageDeleteCheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDeleteChecked</servlet-name>
    <url-pattern>/Teacher/MessageDeleteChecked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageDetail</servlet-name>
    <servlet-class>servlet.teacher.MessageDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDetail</servlet-name>
    <url-pattern>/Teacher/MessageDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageUpdate</servlet-name>
    <servlet-class>servlet.teacher.MessageUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageUpdate</servlet-name>
    <url-pattern>/Teacher/MessageUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentAdd</servlet-name>
    <servlet-class>servlet.teacher.AssignmentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentAdd</servlet-name>
    <url-pattern>/Teacher/AssignmentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentList</servlet-name>
    <servlet-class>servlet.teacher.AssignmentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentList</servlet-name>
    <url-pattern>/Teacher/AssignmentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentDetail</servlet-name>
    <servlet-class>servlet.teacher.AssignmentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentDetail</servlet-name>
    <url-pattern>/Teacher/AssignmentDetail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AssignmentUpdate</servlet-name>
    <servlet-class>servlet.teacher.AssignmentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentUpdate</servlet-name>
    <url-pattern>/Teacher/AssignmentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignmentDeleteChecked</servlet-name>
    <servlet-class>servlet.teacher.AssignmentDeleteCheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentDeleteChecked</servlet-name>
    <url-pattern>/Teacher/AssignmentDeleteChecked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentImport</servlet-name>
    <servlet-class>servlet.teacher.StudentImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentImport</servlet-name>
    <url-pattern>/Teacher/StudentImport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentList</servlet-name>
    <servlet-class>servlet.teacher.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/Teacher/StudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAdd</servlet-name>
    <servlet-class>servlet.teacher.StudentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAdd</servlet-name>
    <url-pattern>/Teacher/StudentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentDetail</servlet-name>
    <servlet-class>servlet.teacher.StudentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetail</servlet-name>
    <url-pattern>/Teacher/StudentDetail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StudentDeleteChecked</servlet-name>
    <servlet-class>servlet.teacher.StudentDeleteCheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteChecked</servlet-name>
    <url-pattern>/Teacher/StudentDeleteChecked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherStudentUpdate</servlet-name>
    <servlet-class>servlet.teacher.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherStudentUpdate</servlet-name>
    <url-pattern>/Teacher/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherCourseList</servlet-name>
    <servlet-class>servlet.teacher.TeacherCourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherCourseList</servlet-name>
    <url-pattern>/Teacher/TeacherCourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherCourseAdd</servlet-name>
    <servlet-class>servlet.teacher.TeacherCourseAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherCourseAdd</servlet-name>
    <url-pattern>/Teacher/TeacherCourseAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseAdd</servlet-name>
    <servlet-class>servlet.teacher.CourseAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAdd</servlet-name>
    <url-pattern>/Teacher/CourseAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseList</servlet-name>
    <servlet-class>servlet.teacher.CourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseList</servlet-name>
    <url-pattern>/Teacher/CourseList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseDeleteChecked</servlet-name>
    <servlet-class>servlet.teacher.CourseDeleteCheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDeleteChecked</servlet-name>
    <url-pattern>/Teacher/CourseDeleteChecked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseDetail</servlet-name>
    <servlet-class>servlet.teacher.CourseDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetail</servlet-name>
    <url-pattern>/Teacher/CourseDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseUpdate</servlet-name>
    <servlet-class>servlet.teacher.CourseUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseUpdate</servlet-name>
    <url-pattern>/Teacher/CourseUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocumentAdd</servlet-name>
    <servlet-class>servlet.teacher.DocumentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentAdd</servlet-name>
    <url-pattern>/Teacher/DocumentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DocumentList</servlet-name>
    <servlet-class>servlet.teacher.DocumentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentList</servlet-name>
    <url-pattern>/Teacher/DocumentList</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DocumentDeleteChecked</servlet-name>
    <servlet-class>servlet.teacher.DocumentDeleteCheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentDeleteChecked</servlet-name>
    <url-pattern>/Teacher/DocumentDeleteChecked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VideoAdd</servlet-name>
    <servlet-class>servlet.teacher.VideoAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoAdd</servlet-name>
    <url-pattern>/Teacher/VideoAdd</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>VideoDetail</servlet-name>
    <servlet-class>servlet.teacher.VideoDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoDetail</servlet-name>
    <url-pattern>/Teacher/VideoDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VideoList</servlet-name>
    <servlet-class>servlet.teacher.VideoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoList</servlet-name>
    <url-pattern>/Teacher/VideoList</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>VideoDeleteChecked</servlet-name>
    <servlet-class>servlet.teacher.VideoDeleteCheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoDeleteChecked</servlet-name>
    <url-pattern>/Teacher/VideoDeleteChecked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherInformationList</servlet-name>
    <servlet-class>servlet.teacher.TeacherInformationListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherInformationList</servlet-name>
    <url-pattern>/Teacher/TeacherInformationList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherInformationDetail</servlet-name>
    <servlet-class>servlet.teacher.TeacherInformationDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherInformationDetail</servlet-name>
    <url-pattern>/Teacher/TeacherInformationDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherInformationUpdate</servlet-name>
    <servlet-class>servlet.teacher.TeacherInformationUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherInformationUpdate</servlet-name>
    <url-pattern>/Teacher/TeacherInformationUpdate</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>TeacherPasswordUpdate</servlet-name>
    <servlet-class>servlet.teacher.TeacherPasswordUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherPasswordUpdate</servlet-name>
    <url-pattern>/Teacher/TeacherPasswordUpdate</url-pattern>
  </servlet-mapping>
  
  <!-- teacher end -->
  
  
  
  <!-- manager start -->
  <servlet>
    <servlet-name>ManagerWelcome</servlet-name>
    <servlet-class>servlet.manager.ManagerWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerWelcome</servlet-name>
    <url-pattern>/Manager/ManagerWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherList</servlet-name>
    <servlet-class>servlet.manager.TeacherListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherList</servlet-name>
    <url-pattern>/Manager/TeacherList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherAdd</servlet-name>
    <servlet-class>servlet.manager.TeacherAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherAdd</servlet-name>
    <url-pattern>/Manager/TeacherAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherDeleteChecked</servlet-name>
    <servlet-class>servlet.manager.TeacherDeleteCheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDeleteChecked</servlet-name>
    <url-pattern>/Manager/TeacherDeleteChecked</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerTeacherDetail</servlet-name>
    <servlet-class>servlet.manager.TeacherDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerTeacherDetail</servlet-name>
    <url-pattern>/Manager/TeacherDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerTeacherUpdate</servlet-name>
    <servlet-class>servlet.manager.TeacherUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerTeacherUpdate</servlet-name>
    <url-pattern>/Manager/TeacherUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherImport</servlet-name>
    <servlet-class>servlet.manager.TeacherImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherImport</servlet-name>
    <url-pattern>/Manager/TeacherImport</url-pattern>
  </servlet-mapping>
 
 
  
  <!-- manager end -->
  
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/msexcel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>zip</extension>
    <mime-type>application/zip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>rar</extension>
    <mime-type>application/rar</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>application/txt</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>chm</extension>
    <mime-type>application/mshelp</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>mp3</extension>
    <mime-type>audio/x-mpeg</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>